
* {

}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #90DB5E;
    border-radius: 5px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Irish Grover';
}

.content {
    height: 78vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-1-title {
    position:fixed;
    top: 140px;
}

.content-1 {
    border-radius: 5px;
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    margin-top: 10px;
}


.content-2 {
    border-radius: 5px;
    height: 60vh;
    width: 65vw;
}


.table-responsive-scroll {
    max-height: calc(60vh - 20px); 
    overflow-y: auto;  
    border: 1px solid #dee2e6; 
    margin-top: 10px;
}


.table-responsive-scroll::-webkit-scrollbar {
    width: 8px;
}

.table-responsive-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.table-responsive-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table-responsive-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-responsive-scroll table {
    width: 100%;
}


.footer {
    background-color: #90DB5E;
    border-radius: 5px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}